
  Patient Name: <input type="text" [(ngModel)]="patientObj.name" value="" /><br /><br />
  Patient Problem: <input type="text" [(ngModel)]="patientObj.problemDescription" value="" /><br /><br />
  <input type="submit" value="submit" (click)="Submit()" /><br /><br /><br />
<br /><br /><br />

  
  <!-- <table>
    <tr>
      <td>Patient name</td>
      <td>Patient Description</td>
    </tr>
    <tr *ngFor="let c of PatientList">
      <td>{{c.name}}</td>
      <td>{{c.problemDescription}}</td>
  </tr>
  </table> -->
