<form [formGroup]="patientObj.formPatientGroup">
  Patient Name: <input type="text"
                       formControlName="NameControl"
                       [(ngModel)]="patientObj.name"
                        value="" /><br /><br />
         <div [hidden]="!(patientObj.formPatientGroup
                        .controls['NameControl']
                        .hasError('required'))">
            Patient Name is required
         </div>
              
  Patient Problem: <input type="text" 
                          formControlName="ProblemDescriptionControl"
                          [(ngModel)]="patientObj.problemDescription" 
                          value="" /><br /><br />

        <div  [hidden]="!(patientObj.formPatientGroup
                        .controls['ProblemDescriptionControl']
                        .hasError('required'))">
          Patient Problem is required
        </div>
  <input type="submit" [disabled]="!(patientObj.formPatientGroup.valid)"
                        value="submit" 
                        (click)="Submit()" /><br /><br /><br />
<br /><br /><br />

</form>
  <!-- <div *ngIf="">
    <span></span>
  </div>   -->
  <table>
      <!-- <span style="color: red;" *ngIf="errorMsg.error[0]">
        {{errorMsg.error[0].errorMessage}}
      </span ><br/><br/>
      <span style="color: red;" *ngIf="errorMsg.error[1]">
        {{errorMsg.error[1].errorMessage}}
      </span><br/><br/> -->
    <!-- <tr>
      <td>Patient name</td>
      <td>Patient Description</td>
    </tr>
    <tr *ngFor="let c of patientList">
      <td>{{c.name}}</td>
      <td>{{c.problemDescription}}</td>
  </tr> -->


  <tr>
    <td>Patient name</td>
    <td>Patient Description</td>
  </tr>
  <tr *ngFor="let c of patientList">
    <td>{{c.name}}</td>
    <td>{{c.problemDescription}}</td>
</tr>
  </table>
<br><br><br>

<hospital-management-search></hospital-management-search>