<form>
  <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input  [(ngModel)]="userObj.userName"
                    class="uk-input"
                    name="userName"
                    placeholder="Username"
                    type="text">
                    
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input  [(ngModel)]="userObj.password"
                    class="uk-input"
                    placeholder="Password"
                    name="Password"
                    type="password">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline">
            
            <input type="submit" value="Sign in" class="uk-button uk-button-primary" (click)="Login()">
        </div>
    </div> 
</form> 
<div style="margin-right: 800px;" class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p> Doesn't Have Account then click Here    
          <input type="submit" value="Sign up" class="uk-button uk-button-primary" (click)="signup()">
      
        </p>
  </div>