<!-- 
<form [formGroup]="patientObj.formPatientGroup">
  Patient Name: <input type="text"
                       formControlName="NameControl"
                       [(ngModel)]="patientObj.name"
                        value="" /><br />
         <div [hidden]="!(patientObj.formPatientGroup
                        .controls['NameControl']
                        .hasError('required'))">
            Patient Name is required
         </div><br /><br />
              
  Patient Problem: <input type="text" 
                          formControlName="ProblemDescriptionControl"
                          [(ngModel)]="patientObj.problemDescription" 
                          value="" /><br />

        <div  [hidden]="!(patientObj.formPatientGroup
                        .controls['ProblemDescriptionControl']
                        .hasError('required'))">
          Patient Problem is required
        </div><br /><br />
  <input type="submit" [disabled]="!(patientObj.formPatientGroup.valid)"
                        value="submit" 
                        (click)="Submit()" /><br /><br /><br />
<br />

</form>
 

<table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let c of patientList" >
            <td>{{c.name}}</td>
            <td>{{c.problemDescription}}</td>
        </tr>
    </tbody>
</table>
 -->

 <div *ngIf="successMessage" id="successMessage" class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>Successfull Added</p>
</div>

<form [formGroup]="patientObj.formPatientGroup" class="uk-form-horizontal uk-margin-large">

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">PATIENT NAME</label>
        <div class="uk-form-controls">
            <input  formControlName="NameControl"
                    [(ngModel)]="patientObj.name" 
                    class="uk-input" 
                    id="form-horizontal-text" 
                    type="text" 
                    placeholder="Patient Name">
        </div>
        <div style="margin-left: 215px;" class="uk-alert-danger" uk-alert [hidden]="!(patientObj.formPatientGroup
                        .controls['NameControl']
                        .hasError('required'))">
            Patient Name is required
         </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">PATIENT PROBLEM</label>
        <div class="uk-form-controls">
            <input formControlName="ProblemDescriptionControl"
                   [(ngModel)]="patientObj.problemDescription" 
                   class="uk-input" id="form-horizontal-text" 
                   type="text" 
                   placeholder="Patient Problem">
        </div>
        <div style="margin-left: 215px;" class="uk-alert-danger" uk-alert [hidden]="!(patientObj.formPatientGroup
                        .controls['ProblemDescriptionControl']
                        .hasError('required'))">
            Patient Problem is required
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <input type="Submit"
                    value="Submit" 
                    [disabled]="!(patientObj.formPatientGroup.valid)"
                    class="uk-button uk-button-primary" 
                    (click)="Submit()">
        </div>
      </div>
</form>

<table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let c of patientList" >
            <td>{{c.name}}</td>
            <td>{{c.problemDescription}}</td>
        </tr>
    </tbody>
</table>


