
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
body
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background: #111;
}
nav{
    padding-block: 40px;
    background-color: rgb(93, 155, 173);
    width: full;
    font-size: 17px;
    }
ul
{
	margin: 0;
	padding: 0;
	display: flex;
}
ul li
{
	position: relative;
	list-style: none;
	margin: 0 10px;
}
ul li a
{
	position: relative;
	height: 20px;
	display: block;
	text-decoration: none;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 600;
}
ul li a span
{
	width: 100%;
	height: 100%;
	display: block;
	transition: 0.5s;
	color: #fff;
}
ul li a span:nth-child(1)
{
	color: #444;
}
ul li a span:nth-child(2)
{
	color: #fff;
}
ul li:hover a span:nth-child(1)
{
	transform: translateY(-100%);
}
ul li:hover a span:nth-child(2)
{
	transform: translateY(-100%);
}
ul li:before
{
	content: '';
	position: absolute;
	top: -90px;
	left: -65px;
	width: 200px;
	height: 200px;
	background: #0f0;
	z-index: -1;
	opacity: 0;
	transition: 0.5s;
	transform: translateY(100px);
}
ul li:hover:before
{
	opacity: 1;
	transition-delay: 0.5s;
	transform: translateY(0);
}
/* ul li:nth-child(1):before
{
	background: url(img1.jpg);
	background-size: cover;
}
ul li:nth-child(2):before
{
	background: url(img2.jpg);
	background-size: cover;
}
ul li:nth-child(3):before
{
	background: url(img3.jpg);
	background-size: cover;
}
ul li:nth-child(4):before
{
	background: url(img4.jpg);
	background-size: cover;
}
ul li:nth-child(5):before
{
	background: url(img5.jpg);
	background-size: cover;
}
ul li:nth-child(6):before
{
	background: url(img6.jpg);
	background-size: cover;
} */
